body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 30px;
}

h2 {
    text-align: center;
}

form {
    background: #fff;
    padding: 20px;
    width: 400px;
    margin: auto;
    border-radius: 6px;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
